@import "base";

.btn {
    padding: 6px 16px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-cta-dark {
    color: $color-white;
    background-color: $color-black;
    border: 1px solid $color-black;

    &:hover,
    &:focus {
        background-color: transparent;
        color: $color-black;
        border: 1px solid $color-black;
    }
}

.btn-cta-light {
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-black;

    &:hover,
    &:focus {
        background-color: $color-black;
        color: $color-white;
        border: 1px solid $color-black;
    }
}

.btn-header {
    @media (max-width: 500px) {
        width: 100%;
    }
}

.btn-link {
    background: none;
    border: none;
    color: $color-black !important;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none !important;

    &:hover,
    &:focus, &:active {
        color: darken($color-black, 10%) !important;
        background-color: transparent !important;
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}
