@import "base";

.btn {
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.btn-cta-dark {
    color: $color-white;
    background-color: $color-black;
    border: 2px solid $color-black;

    &:hover,
    &:focus {
        background-color: transparent;
        color: $color-black;
        border: 2px solid $color-black;
    }
}

.btn-cta-light {
    color: $color-black;
    background-color: $color-white;
    border: 2px solid $color-black;

    &:hover,
    &:focus {
        background-color: $color-black;
        color: $color-white;
        border: 2px solid $color-black;
    }
}

.btn-header {
    @media (min-width: 500px) {
        padding: 6px 16px !important;
    }
}
