@page
@model Web.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your Password";
}



<div class="container my-5 form-container">
    <form method="post">
        <h2 class="text-center">Enter your email.</h2>
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <!-- Email -->
        <div class="form-group mb-3">
            <label asp-for="Input.Email" class="form-label fw-semibold text-dark"></label>
            <input asp-for="Input.Email" placeholder="name@example.com" autocomplete="username" aria-required="true" class="form-control rounded-3 py-2 px-3 border border-2 text-dark" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <!-- Submit Button -->
        <div class="d-grid">
            <button type="submit"
                    class="btn btn-dark rounded-3 fw-semibold shadow-sm">
                Reset Password
            </button>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}