@page
@model Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{

    ViewData["Title"] = "Password Reset Confirmation";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="d-flex align-items-center alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill flex-shrink-0 me-3"></i>
                <div class="text-start">
                    <strong>Password reset successful!</strong> You can now
                    <a asp-page="/Account/Login" asp-area="Identity" class="alert-link">log in</a>
                    with your new password.
                </div>
            </div>
        </div>
    </div>
</div>
