@page
@model Web.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}


<div class="container my-5 form-container">
    <form method="post">
        <h2 class="text-center">Reset your password.</h2>
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <input asp-for="Input.Code" type="hidden"/>
        <!-- Email -->
        <div class="form-group mb-3">
            <label asp-for="Input.Email" class="form-label fw-semibold text-dark">Email</label>
            <input asp-for="Input.Email" placeholder="name@example.com" autocomplete="username" aria-required="true" class="" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <!-- Password -->
        <div class="form-group mb-3">
            <label asp-for="Input.Password" class="form-label fw-semibold text-dark">Password</label>
            <input asp-for="Input.Password"
                   class=""
                   placeholder="Please enter your password."
                   autocomplete="new-password"
                   aria-required="true">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <!-- Confirm Password -->
        <div class="mb-3">
            <label asp-for="Input.ConfirmPassword" class="form-label fw-semibold text-dark">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword"
                   class=""
                   placeholder="Please confirm your password."
                   autocomplete="new-password"
                   aria-required="true">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <!-- Submit Button -->
        <div class="d-grid">
            <button type="submit"
                    class="btn btn-cta-dark rounded-3 fw-semibold shadow-sm">
                Reset
            </button>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}