<div class="d-flex justify-content-start">
    <a type="button" class="btn btn-outline-dark me-3" asp-area="Identity" asp-page="">Login</a>
    <a type="button" class="btn btn-dark" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
</div>