@page
@model Web.Pages.IndexModel
@{
    ViewData["Title"] = "Events";
}

<section class="hero" >
    <div class="hero__container">
        <div class="hero__text">
            <h1 class="hero__title display-5 fw-bold mb-3">
                The Freelancer Platform, Where Talent Meets Opportunity
            </h1>
            <p class="hero__subtitle">
                Find freelancers or get hired for events—planning, photography, entertainment, tech, and more. Opportunities happen every day.
            </p>
            <a href="#" class="btn btn-cta-dark">
                Join eEvent
            </a>
        </div>
        <div class="hero__image">
            <img src="~/images/Partnership-bro.svg" alt="Two people shaking hands" class="img-fluid rounded"/>
        </div>
    </div>
</section>
<div class="container">
    <!-- EVENTS SECTION -->
    <section class="mb-4 text-center">
        <h2 class="heading">Upcoming Events</h2>
        <p class="subheading">Explore events from organizers and apply to join as a freelancer.</p>
    </section>
    <section class="event-grid">
        @if (Model.EventModel.Events.Any())
        {
            @foreach (var events in Model.EventModel.Events)
            {
                <partial name="_EventCard" for="@events"/>
            }
       }
    </section>
</div>
